.btn {
    width: fit-content;
    text-decoration: none;
    color: white;
    font-weight: 500;
    background-color: #1A4314;
    border: none;
    text-align: center;
    padding: 7px 30px 7px 30px;
    border-radius: 10px;
    outline-style: solid;
    outline-width: 2px;
  }
  
  .btn:hover {
    color: #1A4314;
    background-color: white;
  }

