.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }
  
  .details {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
  }
  
  .deleteButton {
    background-color: #ff4d4d;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  
  .deleteButton:hover {
    background-color: #e60000;
  }
  
  .deleteConfirmation {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin-top: 30px;
    text-align: center;
  }
  
  .deleteButtons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .deleteButtons button {
    background-color: #ff4d4d;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    margin-right: 10px;
  }
  
  .deleteButtons button:hover {
    background-color: #e60000;
  }